@import "tailwindcss";

:root {
  /* Color Variables */
  --foreground: #212121;
  --background: #010101;
  /* --background: #0d0d0d; */
  /* --background: #0e0e0e; */
  /* --background: #0E1113; */
  /* --font-primary: #e0e5eb; */
  --font-primary: #e3e3e3;
  --font-secondary: #5a5d79;
  --scheme-color: #fe4d4b;

  --font-lufga: "Lufga", sans-serif;

  --font-thin: 100;
  --font-extralight: 200;
  --font-light: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-extrabold: 800;
  --font-black: 900;
}
body {
  color: var(--font-primary);
  background: var(--background);
  font-family: var(--font-lufga);
  max-width: 100vw;
}

:focus {
  outline: none;
}

* {
  user-select: none;
}

input:-webkit-autofill,
input,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  transition: background-color 5000s ease-in-out 0s;
  caret-color: #1c3553;
  background-color: transparent !important;
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* font  */

.font-lufga {
  font-family: var(--font-lufga);
}
.font-thin {
  --font-weight: var(--font-thin);
}
.font-extralight {
  --font-weight: var(--font-extralight);
}
.font-light {
  --font-weight: var(--font-light);
}
.font-normal {
  --font-weight: var(--font-normal);
}
.font-medium {
  --font-weight: var(--font-medium);
}
.font-semibold {
  --font-weight: var(--font-semibold);
}
.font-bold {
  --font-weight: var(--font-bold);
}
.font-extrabold {
  --font-weight: var(--font-extrabold);
}
.font-black {
  --font-weight: var(--font-black);
}

.wrapper-bg {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
}

.ProseMirror {
  padding: 10px !important;
}
.reactjs-tiptap-editor {
  border: none !important;
}
.richtext-overflow-hidden {
  border: none !important;
}

.richtext-flex {
  color: white;
}

.rich-text-editor {
  border-color: red !important;
  width: 100% !important;
  height: 100%;
}

.reactjs-tiptap-editor {
  background: transparent !important;
}
.richtext-bg-background {
  background-color: transparent !important;
}
.richtext-outline {
  outline: #212121;
}

.richtext-rounded-\[0\.5rem\] {
  border-radius: 20px !important;
}

.scheme-font {
  color: var(--scheme-color);
}
.scheme-bg {
  background-color: var(--scheme-color);
}
